.button {
    height: 50px;
    width: 100px;
    color: purple;
    border-radius: 5px; 
    background-color: black;
}

.button:hover {
    box-shadow: 0 5px 15px black;
    cursor: pointer;
}

.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
}