.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    display: flex; 
    margin-top: 10px; 
    margin-right: 30px;
}

.link {
    color: black; 
    padding-left: 15px;
    font-size: 30px;
    text-decoration: none;
    font-family: fantasy;
    
}

.link:hover {
    color: grey; 
}